*{
  margin: 0;
  padding: 0;
}
nav{
  border-bottom: 1px solid #c0c0c0;
  background-color: #00aeff;
  height: 90px;
  box-shadow: 0 5px 5px #c0c0c0;
}
nav ul li{
  display: inline-block;
  margin:0 10px ;
  padding: 5px;
  line-height: 80px;
  color: rgb(224, 224, 224);
  font-weight: bolder;

}
nav ul li:hover {
  color: white;
  cursor: pointer;
}
footer{
  margin-top: 5em;
  height: 90px;
  background-color: #ffffff;
  width: 100%;
}
footer p{
  border-top:1px solid #c0c0c0;
  color: #00aeff;
  font-weight:bolder;
  text-align: center;
  line-height:90px;
}
.title{
  text-align: center;
  margin: 30px 0;
}
.card-login{
  border: 1px solid #c0c0c0;
  padding: 20px;
  width: 30%;
  margin: 7% auto;
  border-radius: 5px;
}
.card-login hr{
  margin-bottom: 40px;
}
.card-login input{
  border: 1px solid #c0c0c0;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 8px;
  width: 80%;
  border-radius: 5px;
}
.card-login button{
  margin: 25px;
}
.menuHome{
  display: inline-block;
}